{{#each formFields}}
    <div class="input-field">
        <input class="input-field_input" {{inputOption}} type={{type}} id={{id}} placeholder= {{data}} {{readOnly}}>
        <label class="input-field_label" for={{id}}>{{labelData}}</label>
    </div>
{{/each}}
<input class="input-field__submit" type="submit" value={{submitValue}}>
