<div class="cr-form-container">

    <form class="cr-form-container__card-redactor-form">

        <div class="cr-form-container__card-redactor-form__input-field">
            <label class="cr-form-container__card-redactor-form__input-field_label" for="headerLabel">Лого текст</label>
            <input class="cr-form-container__card-redactor-form__input-field_input" value="{{logoText}}" type="text" id="headerLabel"/>
        </div>

        <div class="cr-form-container__card-redactor-form__input-field">
            <label class="cr-form-container__card-redactor-form__input-field_label" for="headerLabel">Хедер лейбл</label>
            <input class="cr-form-container__card-redactor-form__input-field_input" value="{{headerLabel}}" type="text" id="headerLabel" />
        </div>

        <div class="cr-form-container__card-redactor-form__input-field">
            <label class="cr-form-container__card-redactor-form__input-field_label" for="mainLabel">Основной лейбл</label>
            <input type="text" class="cr-form-container__card-redactor-form__input-field_input" value="{{mainLabel}}" id="mainLabel"/>
        </div>

        <div class="cr-form-container__card-redactor-form__input-field">
            <label class="cr-form-container__card-redactor-form__input-field_label" for="secondaryField">Второстепенное</label>
            <input class="cr-form-container__card-redactor-form__input-field_input" value="{{secondaryField}}" type="text" id="secondaryField"/>
        </div>

        <div class="cr-form-container__card-redactor-form__input-field">
            <label class="cr-form-container__card-redactor-form__input-field_label" for="auxiliaryField">Вспомогательное</label>
            <input class="cr-form-container__card-redactor-form__input-field_input" value="{{auxiliaryField}}" type="text" id="auxiliaryField"/>
        </div>

        <input class="cr-form-container__card-redactor-form_input" type="submit" value="Сохранить"/>

    </form>
</div>
