<div class="small-form-cell__answer-options__list">
    {{#each answerOptions}}
        <div class="small-form-cell__answer-options__list__cell" id="option-{{cell_id}}-{{option_id}}">
            <div class="small-form-cell__answer-options__list__cell__button" id="button-{{cell_id}}-{{option_id}}">

            </div>
            <div class="small-form-cell__answer-options__list__cell__text-field" id="text-field-{{cell_id}}-{{option_id}}">
                <span class="small-form-cell__answer-options__list__cell__text-field_span">{{text}}</span>
            </div>
        </div>
    {{/each}}
</div>
