{{#each formFields}}
    <div class="InputField">
        <input type={{type}} id={{id}} value={{data}} required/> 
        <label for={{id}}></label>
    </div>
{{/each}}
<input type="submit" value={{submitValue}}>
