{{#each formFields}}
    <div class="InputField">
        <input type={{type}} id={{id}} required/>
        <label for={{id}}>{{data}}</label>
    </div>
{{/each}}
<input type="submit" value={{submitValue}}>
