{{#each formFields}}
    <div class="InputField">
        <input {{inputOption}} type={{type}} id={{id}} value={{data}}>
        <label for={{id}}>{{labelData}}</label>
    </div>
{{/each}}
<input type="submit" value={{submitValue}}>
