
<div class="cafe-page">

    <div class="cafe-page__cafe-info">

        <div class="cafe-page__cafe-info__image-container">
            <img class="cafe-page__cafe-info__image-container_img" src="{{photo}}"/>
        </div>

        <div class="cafe-page__cafe-info__description-container">
            <h4 class="cafe-page__cafe-info__description-container_h4" >О месте</h4>
            <p class="cafe-page__cafe-info__description-container_p">{{description}}</p>
        </div>

        <div class="cafe-page__cafe-info__name-container">
            <span class="cafe-page__cafe-info__name-container_span">{{name}}</span>
        </div>

        <div class="cafe-page__cafe-info__time-container">
            <div class="cafe-page__cafe-info__time-container__time">
                <h4 class="cafe-page__cafe-info__time-container__time_h4">{{openTime}}</h4>
<!--                <div class="cafe-page__cafe-info__time-container__time__strip"></div>-->
                <h4 class="cafe-page__cafe-info__time-container__time_h4">{{closeTime}}</h4>
            </div>
        </div>

        <div class="cafe-page__cafe-info__address-container">
            <span class="cafe-page__cafe-info__address-container_span" >{{address}}</span>
        </div>
    </div>
</div>

<div class="apple-pass-button">
    <h4 class="apple-pass-button_h4">Apple pass</h4>
</div>

<div class="card-creator-container">

</div>

