<div class="cafe-page">

    <div class="cafe-page__cafe-info">

        <div class="cafe-page__cafe-info__image-container">
            <img class="cafe-page__cafe-info__image-container_img" src="{{photo}}"/>
        </div>

        <div class="cafe-page__cafe-info__description-container">
            <h4 class="cafe-page__cafe-info__description-container_h4" >О месте</h4>
            <div class="cafe-page__cafe-info__description-container__align-div">
                <div class="cafe-page__cafe-info__description-container__align-div__relative-div">
            <p class="cafe-page__cafe-info__description-container__align-div__relative-div_p">{{description}}</p>
                </div>
            </div>

        </div>
        <div class="cafe-page__cafe-info__edit-button">
            <span class="cafe-page__cafe-info__edit-button_span" >Редактировать</span>
        </div>


        <div class="cafe-page__cafe-info__name-container">
            <span class="cafe-page__cafe-info__name-container_span">{{name}}</span>
        </div>

        <div class="cafe-page__cafe-info__time-container">
            <div class="cafe-page__cafe-info__time-container__time">
                <span class="cafe-page__cafe-info__time-container__time_span">{{openTime}}</span>
                <div class="cafe-page__cafe-info__time-container__time__strip"></div>
                <span class="cafe-page__cafe-info__time-container__time_span">{{closeTime}}</span>
            </div>
        </div>

        <div class="cafe-page__cafe-info__address-container">
            <span class="cafe-page__cafe-info__address-container_span" >{{address}}</span>
        </div>
    </div>
</div>

<div class="buttons">
<div class="buttons__apple-pass-button">
    <h4 class="buttons__apple-pass-button_h4">Apple pass</h4>
</div>

<div class="buttons__add-staff-button">
    <h4 class="buttons__add-staff-button_h4">Добавьте сотрудника</h4>
</div>

</div>

<div class="card-creator-container">

</div>

<div class="form-creator-container">

</div>

