<div class="card-top">
<div class="HeaderFieldsContainer">
{{#each headerFields}}
    <div class="card-form__input-header-field" id="{{id}}">
    </div>
{{/each}}
</div>

<div class="PrimaryFieldsContainer">
{{#each primaryFields}}
    <div class="card-form__input-primary-field" id="{{id}}">
    </div>
{{/each}}
</div>
</div>

<div class="SecondaryFieldsContainer">
{{#each secondaryFields}}
    <div class="card-form__input-secondary-field" id="{{id}}">
    </div>
{{/each}}
</div>

<div class="AuxiliaryFieldsContainer">
{{#each auxiliaryFields}}
    <div class="card-form__input-auxiliary-field" id="{{id}}">
    </div>
{{/each}}
</div>

<input class="card-form__submit" type="submit" value={{submitValue}}>
